<vex-page-layout mode="card">
    <vex-page-layout-header class="flex flex-col items-start justify-center">
        <div class="container">
          <h2 class="headline m-0 page-title">SCHEDULE YOUR SERVICE</h2>
        </div>
    </vex-page-layout-header>
    <vex-page-layout-content class="container">
        <div class="card">
            <div class="text-center pb-4 header schedule-service-container">
                <div class="overflow-hidden">
                    <mat-stepper [linear]="true" #stepper [style.display]="isReview ? 'none' : 'block'">
                        <mat-step>
                            <ng-template matStepLabel>
                                <mat-icon class="icon-xl" svgIcon="mat:directions_car"></mat-icon>
                                <div class="step-label">Step 01</div>
                            </ng-template>

                            <h2  class="step-header-label title mt-5 mb-3">Choose Vehicle</h2>

                            <div @fadeInUp
                                class="mt-6 mb-8 flex flex-col sm:flex-row gap-4 sm:gap-6 grid grid-cols-1 sm:grid-cols-1">
                                <mat-radio-group class="gap-4" [(ngModel)]="selectedVehicle">
                                    <mat-radio-button class="flex w-full mb-1" color="warn" *ngFor="let vehicle of userInfo.vehicles" [checked]="vehicle.primaryVehicle" [value]="vehicle.id">
                                        <span class="vehicle-selection">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}},</span>
                                        <span class="vehicle-selection ml-2">  {{vehicle.mileage}} miles</span>
                                    </mat-radio-button>
                                </mat-radio-group>
                                <div class="title mt-4 mb-2 text-left">Dont see your vehicle ? <span class="dp-link" (click)="openCreateVehicle()">Create One</span></div>
                                
                            </div>

                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <mat-icon class="icon-xl" svgIcon="mat:local_car_wash"></mat-icon>
                                <div class="step-label">Step 02</div>
                            </ng-template>
                            
                            <h2  class="step-header-label title mt-5 mb-3">Services</h2>
                                
                            <div @fadeInUp
                                class="mt-6 mb-8 mx-auto flex flex-col sm:flex-row gap-4 sm:gap-6 grid grid-cols-2 sm:grid-cols-4">
                                <div *ngFor="let service of services; let i = index" (click)="toggleClickState(i)" class="bg-foreground rounded-lg">
                                    <div
                                    [ngClass]="{ 'border-primary bg-primary/10': service.isActive, 'hover:bg-app-bar border-gray-200 border-transparent': !service.isActive }"
                                    class="services-wrapper border block text-center px-6 pt-8 pb-6 trans-ease-out cursor-pointer relative text-dark flex flex-col items-center justify-center rounded-lg"
                                    matRipple>
                                        <mat-checkbox color="primary" [checked]="service.isActive"></mat-checkbox>
                                        <div class="services-cost box rounded caption bg-green text-contrast-white" *ngIf="service.cost">
                                            <mat-icon class="icon-xs" svgIcon="mat:attach_money"></mat-icon>
                                            <span class="box-text">{{service.cost }}</span>
                                        </div>
                                        <img class="services-image-icon" [src]="imgPath + service.value + '.png'" alt="Image">
                                        <h4 class="mb-0 mt-4 service-label">{{ service.label }}</h4>
                                    </div>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <mat-icon class="icon-xl" svgIcon="mat:commute"></mat-icon>
                                <div class="step-label">Step 03</div>
                            </ng-template>

                            <h2  class="step-header-label title mt-5 mb-3">Transportation</h2>
                                
                            <div @fadeInUp
                                class="mt-6 mb-12 mx-auto flex flex-col sm:flex-row gap-4 sm:gap-6 grid grid-cols-1 sm:grid-cols-1">
                                <mat-chip-listbox class="transport-chip-wrapper" aria-label="Transportation Option">
                                    <mat-chip-option class="transport-chip-list title" *ngFor="let option of transportOptions; let i = index" (click)="transportSelected(option.value)">{{option.label.toUpperCase()}}</mat-chip-option>
                                </mat-chip-listbox>
                                <div class=" mx-auto flex w-full flex-col sm:flex-row grid grid-cols-1 sm:grid-cols-1" [ngSwitch]="transportOption">
                                    <div *ngSwitchCase="'pickup'"
                                        @fadeInUp
                                        class="rounded bg-app-bar overflow-hidden max-h-full w-full max-w-2xs flex-none flex flex-col pt-4">
                                        
                                        <h2 class="subheading-2 mb-2 font-medium text-uppercase">PICKUP LOCATION</h2>
                                        <mat-radio-group class="gap-4 w-full">
                                            <mat-radio-button color="warn" class="flex text-left mb-4" *ngFor="let location of userInfo.locations" [checked]="location.primaryLocation" [value]="location" (change)="onPickupLocationChange($event)">{{location.address}}</mat-radio-button>
                                        </mat-radio-group>
                                        
                                        <div class="bg-hover mt-4 flex-none">
                                            <button class="w-full"
                                                    mat-button
                                                    type="button"
                                                    (click)="openLocation('addLocation')">
                                              <mat-icon class="mr-1 -ml-1" svgIcon="mat:add_location"></mat-icon>
                                              <span class="text-uppercase">ENTER LOCATION</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="mt-3 w-full text-left" *ngSwitchCase="'pickup'">
                                        <mat-checkbox
                                            *ngIf="pickupLocation"
                                            class="return-address-check"
                                            [(ngModel)]="returnAddressCheck"
                                            (ngModelChange)="syncReturnAddress()"
                                            color="primary">
                                            Return address same as pickup address
                                        </mat-checkbox>
                                    </div>
                                    <div *ngIf="!returnAddressCheck && (transportOption === 'pickup') "
                                        @fadeInUp
                                        class="rounded bg-app-bar overflow-hidden max-h-full w-full max-w-2xs flex-none flex flex-col pt-4 mt-3">
                                        
                                        <h2 class="subheading-2 mb-2 font-medium text-uppercase">DropOff LOCATION</h2>
                                        <mat-radio-group class="gap-4 w-full">
                                            <mat-radio-button color="warn" class="flex text-left mb-4"  [checked]="true">
                                                {{dropOffLocation.address}}
                                                <mat-icon (click)="openLocation('dropOff', dropOffLocation)"  class="icon-sm prt-3 btn__icon ml-6 services-list-icon" svgIcon="mat:edit"></mat-icon>
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        
                                    </div>
                                    <div class="mt-3 w-full flex-none" *ngSwitchCase="'pickup'">
                                        <h6 class="title text-left">Add Comments:</h6>
                                        <textarea class="flex-none w-full comments-text-area" [(ngModel)]="pickupComments"></textarea>
                                    </div>
                                    <div class="mt-3 w-full flex-none" *ngSwitchCase="'dropOff'">
                                        <h6 class="title text-left">Add Comments:</h6>
                                        <textarea class="flex-none w-full comments-text-area" [(ngModel)]="dropOffComments"></textarea>
                                    </div>
                                </div>
                                
                            </div> 
                        </mat-step>
                        <mat-step>
                            <ng-template matStepLabel>
                                <mat-icon class="icon-xl" svgIcon="mat:calendar_month"></mat-icon>
                                <div class="step-label">Step 04</div>
                            </ng-template>

                            <h2  class="step-header-label title mt-5 mb-3">Appointment</h2>
                                
                            <div @fadeInUp
                                class="mt-6 mx-auto flex flex-col sm:flex-row gap-4 sm:gap-6 grid lg:grid-cols-1 sm:grid-cols-1">
                                <!-- <mat-calendar class="dp-calender mb-12" [(selected)]="selectedDate" (selectedChange)="onDateChange()" minDate="currentDate"></mat-calendar>
                                <mat-chip-listbox class="appointment-chip-wrapper block" aria-label="Appointment Time">
                                    <h4 class="title w-full mb-2 text-left" *ngIf="availableSlots.length > 0">Available Slots:</h4>
                                    <h4 class="title w-full mb-2 text-left" *ngIf="selectedDate && availableSlots.length == 0">No slots Available</h4>
                                    <mat-chip-option class="appointment-chip-list title" *ngFor="let timeSlot of availableSlots; let i = index">{{timeSlot}}</mat-chip-option>
                                </mat-chip-listbox> -->
                                <div class="date-picker-month">{{dtMonth}}</div>

                                <div class="date-picker-container flex">
                                    <button mat-button color="primary" class="date-picker-button date-picker-button-left" (click)="getPreviousWeek(dates[0].fullDate)">
                                        <mat-icon class="icon-sm" svgIcon="mat:arrow_left"></mat-icon>
                                    </button>
                                    <div class="date-scroller w-full">
                                        <mat-grid-list cols="7">
                                            <mat-grid-tile>S</mat-grid-tile>
                                            <mat-grid-tile>M</mat-grid-tile>
                                            <mat-grid-tile>T</mat-grid-tile>
                                            <mat-grid-tile>W</mat-grid-tile>
                                            <mat-grid-tile>T</mat-grid-tile>
                                            <mat-grid-tile>F</mat-grid-tile>
                                            <mat-grid-tile>S</mat-grid-tile>
                                        </mat-grid-list>
                                        <mat-grid-list cols="7">
                                            <mat-grid-tile *ngFor="let date of dates">
                                                <mat-chip 
                                                    [ngClass]="{ 'selected-chip': date.selected }"
                                                    (click)="selectChip(date)"
                                                    class="w-full"
                                                    disabled={{date.isDisabled}}
                                                >{{date.date}}</mat-chip>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                    <button mat-button color="primary" class="date-picker-button date-picker-button-right" (click)="getNextWeek(dates[6].fullDate)">
                                        <mat-icon class="icon-sm" svgIcon="mat:arrow_right"></mat-icon>
                                    </button>
                                </div>
                                <h4 class="title w-full mb-2 text-left" *ngIf="availableSlots.length > 0">Available Slots:</h4>
                                <h4 class="title w-full mb-2 text-left" *ngIf="selectedDate && availableSlots.length == 0">No slots Available</h4>
                                <mat-chip-listbox class="appointment-chip-wrapper block" aria-label="Appointment Time">
                                    <mat-chip-option class="appointment-chip-list title" *ngFor="let timeSlot of availableSlots.slice(0, showMoreDatesSliceIndex); let i = index" (click)="timeSlotSelected(timeSlot)">{{timeSlot}}</mat-chip-option>
                                </mat-chip-listbox>
                                <h6 class="dp-link text-left" *ngIf="(availableSlots.length > showMoreDatesSliceIndex) && !showMoreDates" (click)="toggleShowDates()">Show more dates</h6>
                                <h6 class="dp-link text-left" *ngIf="(availableSlots.length > showMoreDatesSliceIndex) && showMoreDates" (click)="toggleShowDates()">Hide more dates</h6>
                                <mat-chip-listbox class="appointment-chip-wrapper block" *ngIf="(availableSlots.length > showMoreDatesSliceIndex) && showMoreDates" aria-label="Appointment Time">
                                   <mat-chip-option class="appointment-chip-list title" *ngFor="let timeSlot of availableSlots.slice(showMoreDatesSliceIndex); let i = index" (click)="timeSlotSelected(timeSlot)">{{timeSlot}}</mat-chip-option>
                                </mat-chip-listbox>

                                <div class="w-full mt-4 appointment-selected title font-medium" *ngIf="selectedDate && selectedTimeSlot">
                                    <mat-icon class="icon-sm mr-1 prt-3" svgIcon="mat:event"></mat-icon>
                                    <span>{{selectedDate}}, {{selectedTimeSlot}} </span>
                                </div>
                            </div>    
                        </mat-step>
                    </mat-stepper>
                    <div class="review-container px-4" [style.display]="isReview ? 'block' : 'none'">
                        <h2  class="step-header-label title mt-5 mb-3">Review</h2>
                        <div @fadeInUp class="mt-6 review-container-content mb-1 sm:flex-row gap-4 sm:gap-6 grid grid-cols-1 sm:grid-cols-1">
                            <h2 class="headline mb-4 text-left">
                                <mat-icon class="mr-3 prt-3" svgIcon="mat:schedule"></mat-icon>
                                <span>Appointment Info:</span>
                            </h2>
                            <div @fadeInRight>
                                <p class="m-0 caption flex text-capitalize text-hint">Date and Time</p>
                                <div class="m-0 text-lg flex">{{item.value}}</div>
                            </div>  
                            <div class="items-center flex" *ngFor="let item of reviewInfo | keyvalue">
                                <div @scaleIn
                                     class="w-10 h-10 rounded-full bg-primary/10 text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
                                  <mat-icon class="icon-sm" svgIcon="mat:phone" *ngIf="item.key === 'number'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:mail" *ngIf="item.key === 'email'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:schedule" *ngIf="item.key === 'appointment'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:commute" *ngIf="item.key === 'transportation'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:directions_car" *ngIf="item.key === 'vehicle'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:local_car_wash" *ngIf="item.key === 'services'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:badge" *ngIf="item.key === 'firstname'"></mat-icon>
                                  <mat-icon class="icon-sm" svgIcon="mat:badge" *ngIf="item.key === 'lastname'"></mat-icon>
                                </div>
                          
                                <div @fadeInRight>
                                  <p class="m-0 caption flex text-capitalize text-hint">{{item.key}}</p>
                                  <div class="m-0 text-lg flex" *ngIf="['services','vehicle'].indexOf(item.key) < 0">{{item.value}}</div>
                                  <div class="m-0 text-lg flex" *ngIf="item.key === 'vehicle'">Lexus RX 350, 35674 miles.</div>
                                </div>         
                            </div>   
                        </div>
                    </div>

                    <!-- Stepper button replication-->
                    <div class="schedule-actions" *ngIf="!isReview">
                        <div class="fixed-stepper-actions actions flex justify-space-between gap-6" *ngIf="stepper.selectedIndex === 0" matRipple>
                            <button  class="action-btn" (click)="search()" >
                                <mat-icon class="ml-3 icon-sm action-icon" svgIcon="mat:fast_rewind"></mat-icon>
                                Back to Search
                            </button>
                            <button class="action-btn" (click)="selectStep(1)" *ngIf="selectedVehicle">
                                SERVICES 
                                <mat-icon class="mr-3 icon-sm action-icon" svgIcon="mat:fast_forward"></mat-icon>
                            </button>
                        </div>
                        <div class="fixed-stepper-actions actions flex justify-space-between gap-6" matRipple *ngIf="stepper.selectedIndex === 1">
                            <button  class="action-btn" (click)="selectStep(0)" >
                                <mat-icon class="ml-3 icon-sm action-icon" svgIcon="mat:fast_rewind"></mat-icon>
                                VEHICLE
                            </button>
                            <button  class="action-btn" *ngIf="servicesSelected > 0" (click)="selectStep(2)">
                                TRANSPORT
                                <mat-icon class="mr-3 icon-sm action-icon" svgIcon="mat:fast_forward"></mat-icon>
                            </button>
                        </div>
                        <div class=" fixed-stepper-actions actions flex justify-space-between gap-6" *ngIf="stepper.selectedIndex === 2">
                            <button  class="action-btn" (click)="selectStep(1)">
                                <mat-icon class="ml-3 icon-sm action-icon" svgIcon="mat:fast_rewind"></mat-icon>
                                Services
                            </button>
                            <button  class="action-btn"  *ngIf="transportOption" (click)="selectStep(3)">
                                Appointment
                                <mat-icon class="mr-3 icon-sm action-icon" svgIcon="mat:fast_forward"></mat-icon>
                            </button>
                        </div>
                        <div class="fixed-stepper-actions  actions flex justify-space-between gap-6" *ngIf="stepper.selectedIndex === 3">
                            <button  class="action-btn" (click)="selectStep(2)">
                                <mat-icon class="ml-3 icon-sm action-icon" svgIcon="mat:fast_rewind"></mat-icon>
                                Transport
                            </button>
                            <button  class="action-btn" (click)="toggleReview()">
                                Review
                                <mat-icon class="mr-3 icon-sm action-icon" svgIcon="mat:fast_forward"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="review-actions" *ngIf="isReview">
                        <div class="fixed-stepper-actions  actions flex justify-space-between gap-6">
                            <button  class="action-btn" (click)="toggleReview()">
                                <mat-icon class="ml-3 icon-sm action-icon" svgIcon="mat:fast_rewind"></mat-icon>
                                Back
                            </button>
                            <button  class="action-btn">
                                Schedule
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>


